@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #50ED2B;
}

a:hover {
	text-decoration: none;
	color: #29a70b;
}

p {
	font-size: 24px;
}

.info-text {
	font-size: 18px;
}

.ch-home {
	background-image: url(../images/bg-home.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ch-flat {
	background-color: #0F201F;
}

.green {
	color: #50ED2B;
}

.title {
	font-size: 110px;
	font-weight: 700;
}

.title-light {
	font-size: 90px;
	font-weight: 300;
}

.sub-title {
	font-size: 50px;
	font-weight: 100;	
}

@media only screen and (max-width: 600px) {
	
	.title {
		font-size: 60px;
	}

	

	.justify-content-end {
		justify-content: space-around !important;
		padding-top: 1rem;
	}

	.descripcion {
		margin-top: 1rem !important;
	}

	.title-light {
		font-size: 40px;
	}

	.sub-title {
		font-size: 30px;
	}

	.dosmil{
		font-size: 50px;
		}

	.texto {
		font-size: 18px;
	}

	.blanco {
		color: white;
	}

	.info-text {
		font-size: 14px;
	}

	.colab .col-4 {
		max-width: none;
		flex: none;
	}

	.logos-final {
		display: flex;
		flex-direction: column;
		margin-top: 0px !important;
		
	}

	.logos-final a{
		margin-bottom: 1rem;
		
	}

  }